.page-header
  h1#run Starting CAMotics

p
  | For more information about running CAMotics see
  | <a href="manual.html">the user's manual</a>.

h3 Windows
p
  | In Windows you will find CAMotics in your Start menu under
  | <tt>All Programs -> CAMotics -> CAMotics</tt>.

h3 Mac OS-X
p
  | On Mac OS-X CAMotics is installed in the Applications folder.
  | In Finder under <tt>PLACES</tt> you will find the <tt>Applications</tt>.
  | Open this folder and double click on the <tt>CAMotics</tt> icon.

h3 Linux
p
  | In Linux, if you've installed a package, you should find CAMotics in
  | system menu under <tt>Other</tt>.  Alternatively, you can open a terminal
  | and run <tt>camotics</tt>.

p
  | If you bulit CAMotics from source with out installing.  Then you must
  | open a terminal, go to the directory where built CAMotics and run
  | <tt>./camotics</tt>.
