.page-header
  h1#overview-other-resources Other Resources

p Here you will find additional GCode resources from the LinuxCNC website:

ul
  li: a(href="http://linuxcnc.org/docs/html/gcode/overview.html") GCode overview
  li: a(href="http://linuxcnc.org/docs/html/gcode/g-code.html") GCode reference
  li: a(href="http://linuxcnc.org/docs/html/gcode/m-code.html") MCode reference
