.page-header
    h1#about About

p
  | With CAMotics, you can simulate 3-axis <a href="gcode.html">GCode</a>
  | programs for <a href='http://en.wikipedia.org/wiki/CNC'>CNC</a>s and
  | visualize the results in 3D.  CAMotics runs on Linux, OS-X or
  | Windows.  It's fast, easy to use and best of all
  | <a href="http://opensource.org/">Open-Source</a> and free.

p
  | With the power to simulate your CNC tool paths you will avoid dangerous
  | and expensive mistakes.  By looking at the built-in examples and using the
  | <a href="manual.html">online documentation</a> you'll be running your own
  | simulations in no time.  And, if you need more help, we'll be happy to
  | answer your questions via the <a
  | href="http://groups.google.com/group/camotics-users/boxsubscribe"
  | >discussion group</a>.

p
  | Would you start cutting without measuring first?  Then why would you run a
  | CNC program with out simulating?  CAMotics will save you time and money
  | and open up a world of creative possibilities by allowing you to rapidly
  | visualize and improve upon designs without wasting materials or breaking
  | tools.  If you find CAMotics useful, consider <a href="#donations">donating
  | some money</a>, otherwise it's totally free so go ahead and
  | <a href="download.html">download CAMotics now</a>.
